<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./registratioStyle.css" rel="stylesheet" id="registration-Style"> -->
 
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <!-- <form> -->
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                    <h3>Welcome</h3>
                    <p>Tutoring Managment System</p>
                    <input type="submit"  value="Login"  href="#" routerLink="/login" > 
                   
                    <input type="submit"  value="admin"  href="#" routerLink="/userConstrain" > 
                    <!-- <div id="buttons">
                        <a routerLink="/admin" class="buttons">admin</a>
                    </div> -->
                    <!-- routerLink="/login" -->
                <!-- </form> -->
            </div>
            <div class="col-md-9 register-right">
                
                 <!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a href="#Student"  class="nav-link active" id="home-tab" data-toggle="tab"  role="tab" aria-controls="Student" aria-selected="true">Student</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" id="profile-tab" data-toggle="tab" href="#Totur"  role="tab" aria-controls="Totur" aria-selected="false">Totur</a>
                    </li>
                </ul> -->
              
               
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Register:</h3>
                        
                       <form novalidate #a="ngForm" (ngSubmit) = "StudentRegistration($event)" > 
                       
                            <div class="row register-form ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      
                                            <input  type="text" class="form-control" placeholder="First Name *" value="" id="firstName" 
                                                [(ngModel)]="server.user.firstName"
                                                name="firstName"
                                                #firstName="ngModel"
                                                required> 
                                             <div *ngIf="firstName.errors?.required && firstName.touched" 
                                                class="alert alert-danger">
                                                Please enter your  first name
                                            </div>
                                           
                                    </div>
                                    <div class="form-group">
                                       
                                        <input type="text" class="form-control" placeholder="Last Name *" value="" id="lastName" 
                                                [(ngModel)]="server.user.lastName"
                                                name="lastName"
                                                #lastName='ngModel'
                                                required> 
                                                <div *ngIf="lastName.errors?.required && lastName.touched" 
                                                      class="alert alert-danger">
                                                              Please enter your last name
                                               </div>
                                    </div>

                                    <div class="form-group">
                                       
                                         <input type="password" class="form-control" placeholder="Password *" value="" id="password" 
                                        [(ngModel)]="server.user.password"
                                        name="password"
                                        #password='ngModel'
                                        required> 
                                        <div *ngIf="password.errors?.required && password.touched" 
                                              class="alert alert-danger">
                                                     Please enter your password
                                        </div>
                                    </div>

                                    
                                    <div class="form-group">
                                        <input type= "text" class="form-control" placeholder="department *" value=""  id="department" />
                                    </div> 

                            
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" value="" id="email"
                                            [(ngModel)]="server.user.email"
                                            name="email"
                                            #email='ngModel'
                                            required> 
                                            <div *ngIf="email.errors?.required && email.touched" 
                                                class="alert alert-danger">
                                                    Please enter your Email
                                           </div>
                                    
                                    </div>
                                    <div class="form-group">
                                        <input type="number" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" 
                                                id="phone"
                                                [(ngModel)]="server.user.phone"
                                                name="phone"
                                                #phone='ngModel'
                                                required> 
                                        <div *ngIf="phone.errors?.required && phone.touched" 
                                                class="alert alert-danger">
                                                Please enter your phone
                                        </div>

                                         <div *ngIf="phone.errors?.minlength && phone.touched" 
                                            class="alert alert-danger">
                                            Please enter valid(10 numbers) phone number
                                        </div> 
                                        <!-- <div [hidden]="phone.valid || phone.pristine" 
                                            class="aler alert-danger">
                                                Please enter your  phone
                                            </div> -->

                                        <div *ngIf="phone.errors?.maxlength && phone.touched" 
                                            class="alert alert-danger">
                                            Please enter valid phone number
                                        </div>
                                   
                                    </div>

                                    <div class="form-group">
                                        <input type= "number" class="form-control" placeholder="ID *" value=""  id="ID" />
                                    </div> 

                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline"> 
                                                <input type="radio" name="Tutor/Student" value="tutor"  id="Tutor/Student" checked>
                                                <span> Tutor    </span> 
                                            </label>
                                            <label class="radio inline"> 
                                                <input type="radio" name="Tutor/Student" value="student" id="Tutor/Student" >
                                                <span> Student </span> 
                                            </label>
                                        </div>
                                    </div>
                                 
                                    <input type="submit" class="btnRegister"  value="Submit"/>

                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3  class="register-heading">Apply as a Totur</h3>
                        <form class="row g-3 needs-validation" novalidate>
                            <form action="../login/login2.html" >
                                    <div class="row register-form">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="First Name *" value="firstName" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Last Name *" value="lastName" />
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email *" value="email" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone number *" value="phone" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password *" value="password" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="department *" value=""  id="Department"/>
                                            </div>
                                            <input type="submit" class="btnRegister"  value="Register"/>
                                            <!-- <input type="submit" value="Submit using GET">
                                            <input type="submit" formmethod="post" value="Submit using POST"> -->
                                        </div>
                                    </div>
                            </form>
                         </form>
                    //</div>
                </div>
            </div>
        </div>

    </div>

<!-- </body> -->





